<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ping_pong_paddle.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 3.175 189.071"
        rpy="0 0 0" />
      <mass
        value="0.20907" />
      <inertia
        ixx="0.00098969"
        ixy="-7.2913E-10"
        ixz="2.5452E-07"
        iyy="0.0012047"
        iyz="7.4742E-07"
        izz="0.00023156" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ping_pong_paddle.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ping_pong_paddle.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>